@import url("https://use.typekit.net/wwf3nzi.css");

@font-face {
  font-family: 'waon_joyo';
  src: url('/assets/fonts/waonjoyo/WaonJoyo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "sofia-pro",-apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI", "Yu Gothic", YuGothic, sans-serif;
}

//font-family: 'Geo', sans-serif;
//font-family: "proxima-nova";