html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {
  -webkit-overflow-scrolling: touch;
}

html,
body {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  z-index: 0;
  scroll-behavior: smooth;
  background-color: #ffffff;
  #root {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .wrapper {
      height: 100%;
      width: 100%;
      main {
        height: 100%;
        width: 100%;
      }
    }
  }
}

main {
  position: relative;
  margin: 0 auto;
  width: 89.6vw;
  min-width: 1120px;
  height: 100%;
}

ul,li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

button {
  border: none;
  background: none;
  padding: 0;
  &:focus {
    outline: 0;
  }
}

figure {
  margin: 0;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}